@font-face{
    font-family: Roboto-Light;
    src: url(../fonts/Roboto-Light/Roboto-Light.ttf) format("ttf"),
        url(../fonts/Roboto-Light/Roboto-Light.otf) format("otf"),
        url(../fonts/Roboto-Light/Roboto-Light.eot) format("eot"),
        url(../fonts/Roboto-Light/Roboto-Light.woff) format("woff"),
        url(../fonts/Roboto-Light/Roboto-Light.woff2) format("woff2");
}

@font-face{
    font-family: Roboto-Black;
    src: url(../fonts/Roboto-Black/Roboto-Black.ttf) format("ttf"),
        url(../fonts/Roboto-Black/Roboto-Black.otf) format("otf"),
        url(../fonts/Roboto-Black/Roboto-Black.eot) format("eot"),
        url(../fonts/Roboto-Black/Roboto-Black.woff) format("woff"),
        url(../fonts/Roboto-Black/Roboto-Black.woff2) format("woff2");
}

@font-face{
    font-family: Roboto-Bold;
    src: url(../fonts/Roboto-Bold/Roboto-Bold.ttf) format("ttf"),
        url(../fonts/Roboto-Bold/Roboto-Bold.otf) format("otf"),
        url(../fonts/Roboto-Bold/Roboto-Bold.eot) format("eot"),
        url(../fonts/Roboto-Bold/Roboto-Bold.woff) format("woff"),
        url(../fonts/Roboto-Bold/Roboto-Bold.woff2) format("woff2");
}