* {
  box-sizing: border-box
}

body {
  font-family: 'Roboto-Light', sans-serif;
  font-weight: 300;
  color:#2d2d42;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.b-site {
  max-width: 1180px;
  overflow-x: hidden;
}

.b-container {
  max-width: 1180px;
  margin: 0 auto;
  overflow-x: hidden;
}

.b-title {
  font-family: 'Roboto-Black', sans-serif;
  font-weight: 900;
  margin: 0px;
  color: #f4f4f7;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.08;
  letter-spacing: -0.75px;
}

.b-title__header {
  font-family: 'Roboto-Black', sans-serif;
  font-weight: 900;
  margin: 0px;
  font-size: 25px;
  color: #f4f4f7;
  margin-bottom: 20px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.08;
  letter-spacing: -0.75px;
}

.b-text {
  font-family: 'Roboto-Light', sans-serif;
  font-weight: 300;
  color: #2d2d42;
  margin: 0px;
  line-height: 1.33;
}

.b-subtitle {
  font-family: 'Roboto-Light', sans-serif;
  font-weight: 300;
  color: #2d2d42;
  margin: 0px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
}

.b-menu {
  color: #f4f4f7;
  font-size: 15px;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  list-style-type: none;
  font-family: 'Roboto-Light', sans-serif;
  font-weight: 300;
}

/* Hamburger */
.b-hamburger {
  width: 20px;
  height: 13px;
}

.b-hamburger span {
  display: block;
  height: 1px;
  width: 100%;
  background-color: #f4f4f7;
  margin-bottom: 5px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}
/* Main */
/* Header */
.b-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.b-logo__img {
  overflow: hidden
}

.b-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.b-header-subtitle {
  font-family: 'Roboto-Light', sans-serif;
  font-weight: 300;
  color: #f4f4f7;
  margin: 0px;
}

.b-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 0px 30px 0px;
  text-decoration: none;
}

.b-link__text {
  font-family: 'Roboto-Light', sans-serif;
  font-weight: 300;
  color: #f4f4f7;
  font-size: 15px;
  line-height: 1.33;
}

.b-link:after {
  content: "";
  background: url(../img/ic-next.svg);
  display: block;
  color: #ffffff;
  width: 30px;
  height: 30px;
}

/* b-main*/

.b-professional-wrap {
  background-color: #ffffff;
}

.b-title__main {
  color: #2d2d42;
}

.b-aspects-list {
  padding: 0;
}

.b-aspects-list__item {
  display: flex;
  align-items: center;
}

.b-aspects-list__box {
  width: 50px;
  height: 50px;
  border: solid 1px #ffffff;
  border-radius: 50%;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto-Bold', sans-serif;
}

.b-aspects-list__one {
  background-color: #63c9e0;
  padding: 11px 11px 9px 11px;
}

.b-aspects-list__two {
  background-color: #f47e3d;
  padding: 9px 16px 8px 20px;
}

.b-aspects-list__three {
  background-color: #d04b9b;
  padding: 10px 9px 15px;
}
/* b-do */

.b-do__title {
  color: #c0c6c8;
}
.b-services {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
.b-services__item {
  position: relative;
  font-family: 'Roboto-Light', sans-serif;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #2d2d42;
  word-wrap: break-word;
  margin-bottom: 20px;
}

.b-services__item:before {
  content: "";
  display: block;
  height: 2px;
  width: 30px;
  background-color: #64cae1;
  position: absolute;
}
/* What we do */
.b-do__title {
  color:#c0c6c8;
}

.b-services {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.b-link__services {
  background-color: #64cae1;
}

.b-work {
  background-color: #f4f4f7;
}

.b-work-img {
  overflow: hidden;
}

.b-work-img__pic {
  width: 100%;
}

.b-contacts {
  background-color: #000000;
  padding: 30px 0px 0px 0px;
  position: relative;
  overflow: hidden;
}

.b-contacts-info__text {
  color: #f4f4f7;
}

.b-map-wrap {
  position: absolute;
  top: 215px;
  right: 0;
  left: -80px;
  display: flex;
  justify-content: center;
}

.b-map {
  z-index: 0;
  width: 677px;
  max-width: none;
  height: 330px;
}

.b-social {
  display: flex;
  z-index: 1;
  margin-bottom: 220px;
}

.b-social__link {
  display: block;
  text-decoration: none;
  margin-right: 25px;
  width: 30px;
  height: 30px;
}

.b-social__icon {
  margin: 0;
}

.b-address {
  margin-bottom: 30px;
}

.b-address__title {
  font-family: 'Roboto-Bold', sans-serif;
  font-weight: 700;
  text-transform: none;
  color: #f4f4f7;
}

.b-address__info {
  line-height: 1.67;
  color: #f4f4f7;
}

.b-address-wrap {
  margin-bottom: 40px;
  position: relative;
  z-index: 1;
}

.b-adress__title {
  font-family: 'Roboto-Bold', sans-serif;
  font-weight: 700;
  color: #f4f4f7;
  font-size: 20px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
}

.b-adress__text {
  color: #f4f4f7;
  line-height: 1.67;
}

.b-adress__mail {
  text-decoration: none;
  display: block;
  color: #64cae1;
  line-height: 1.67;
}

.b-adress__phone {
  color: #f4f4f7;
  line-height: 1.67;
  text-decoration: none;
}

.b-footer {
  background-color: #2d2d42;
  padding: 0px 0 30px;
}

.b-footer__menu-item {
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
}

.b-footer__menu-list {
  padding: 0;
  list-style-type: none;
}

.b-footer__menu-link {
  font-family: 'Roboto-Light', sans-serif;
  font-weight: 300;
  font-size: 15px;
  text-decoration: none;
  color: #f4f4f7;
}

.b-copyright {
  color: #f4f4f7;
  margin: 0;
  opacity: 0.5;
  font-stretch: normal;
  font-style: normal;
  font-family: 'Roboto-Light', sans-serif;
  font-weight: 300;
}