@media (min-width: 768px) {
  body {
    background-color: #f4f4f7;
  }

  .b-container {
    padding: 0px 30px 0px 30px;
  }

  .b-text {
    font-size: 25px;
  }

  .b-title {
    font-size: 50px;
    line-height: 1.08;
    letter-spacing: -0.75px;
  }

  .b-menu {
    display: flex;
    line-height: 2.67;
    min-width: 300px;
  }

  .b-header {
    background-image: url(../img/header/background.jpg);
    background-repeat: no-repeat;
    background-size: 1180px;
    background-position: center;
    position: relative;
    z-index: 1;
    padding-top: 40px;
  }

  .b-header:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    z-index: -1;
  }

  .b-nav {
    padding: 0px 30px 0px 30px;
    margin-bottom: 92px;
  }

  .b-logo {
    margin-right: 60px;
    font-size: 0px;
  }

  .b-logo-img__logo {
    width: 40px;
    height: 40px;
  }

  .b-menu-wrap {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    align-items: center;
  }

  .b-menu__link {
    color: #f4f4f7;
    text-decoration: none;
    padding: 0px;
    font-family: 'Roboto-Light', sans-serif;
    font-weight: 300;
  }

  .b-menu__list {
    display: flex;
    padding-left: 0px;
    margin: 0px;
  }

  .b-menu__list-item {
    display: inline-flex;
    margin-right: 28px;
  }

  .b-menu__list-item:last-child {
    margin-right: 0px;
  }

  .b-menu__list-item:nth-child(5) {
    display: none;
  }

  .b-lang {
    min-width: 130px;
  }

  .b-lang__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px;
  }

  .b-lang__list-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    display: inline-flex;
    margin-right: 28px;
  }

  .b-lang__list-item:last-child {
    margin-right: 0px;
  }

  .b-lang__list-item:nth-child(5) {
    display: none;
  }

  .b-lang__list-item:nth-child(2) {
    height: 40px;
    width: 40px;
    border: solid 1px #ffffff;
    border-radius: 50%;
  }

  .b-lang__link {
    color: #f4f4f7;
    text-decoration: none;
    font-family: 'Roboto-Light', sans-serif;
    font-weight: 300;
    font-size: 60px;
    font-size: 15px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
  }

  .b-title__header {
    font-family: 'Roboto-Black', sans-serif;
    font-weight: 900;
    font-size: 50px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.08;
    letter-spacing: -0.75px;
    margin-bottom: 30px;
    /* может быть ошибка */
    /* max-width: 680px; */
  }

  .b-hamburger {
    display: none;
  }

  .b-header-subtitle {
    max-width: 680px;
    padding-right: 10px;
    box-sizing: border-box;
    margin: 0px 0px 78px 0px;
    font-size: 20px;
    line-height: 1.5;
  }

  .b-link__btn {
    max-width: 480px;
    border: solid 1px #ffffff;
    padding: 25px 50px 25px 100px;
    border-color: rgba(225, 225, 225, 0.1);
  }

  .b-link__text {
    font-size: 20px;
    line-height: 1.5;
  }

/* What we do */

  .b-professional {
    padding-top: 90px;
  }

  .b-title__main {
    margin-bottom: 30px;
  }

  .b-subtitle-main {
    font-size: 25px;
    margin-bottom: 85px;
  }

  .b-aspects-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -80px;
    margin-bottom: 30px;
  }

  .b-aspects-list__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 240px;
    margin: 0px 20px 40px 0px;
  }

  .b-aspects-list__item::before {
    display: none;
  }

  .b-aspects-list__item:last-child::after {
    display: none;
  }

  .b-aspects-list__box {
    width: 90px;
    height: 90px;
    margin-bottom: 30px;
    margin-right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .b-aspects-list__one {
    width: 90px;
    height: 90px;
    margin-bottom: 30px;
    margin-right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .b-aspects-list__two {
    width: 90px;
    height: 90px;
    margin-bottom: 30px;
    margin-right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f47e3d;
    padding: 9px 16px 8px 20px;
  }

  .b-aspects-list__three {
    width: 90px;
    height: 90px;
    margin-bottom: 30px;
    margin-right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d04b9b;
    padding: 10px 9px 15px;
  }

  .b-aspects-list__ic {
    width: 50px;
    height: 52px;
  }

  .b-aspects__text {
    font-family: 'Roboto-Bold', sans-serif;
    font-size:20px;
    line-height: 1.5;
  }
  /* What We Do */
  .b-do {
    padding-bottom: 117px;
  }

  .b-do__title {
    margin-bottom: 75px;
  }

  .b-services {
    columns: 2;
    padding: 0px;
    column-gap: 80px;
    max-width: 700px;
  }

  .b-services__item {
    font-size: 20px;
    line-height: 1.5;
    width: 320px;
    padding-left: 60px;
    display: block;
    break-inside: avoid-column;
  }

  .b-services__item:nth-of-type(1) {
    width: 380px;
  }
  
  .b-services__item:last-child {
    margin: 0px;
  }

  .b-services__item::before {
    width: 30px;
    top: 14px;
    left: 0px;
  }
  .b-link__services {
    display: none;
  }
/* Work */
}