*
  box-sizing: border-box
body
	margin: 0
  color: $main-text
  display: flex
  align-items: center
  flex-direction: column
  +Light
.b-container
  max-width: 1180px
  margin: 0 auto
  overflow-x: hidden
.b-title
  +Black
  margin: 0px
  color: $main-color
  &__header
    +Black
    margin: 0px
    font-size: 25px
    color: $main-color
    margin-bottom: 20px
.b-text
  +Light
  color: $main-text
  margin: 0px
  line-height: 1.33
.b-subtitle
  +Light
  color: $main-text
  margin: 0px
.b-menu 
  color: $main-color
  font-size: 15px
  +Light
  // hamburger
.b-hamburger
  width: 20px
  height: 13px
  span
    display: block
    height: 2px
    width: 100%
    background-color: $main-color
    margin-bottom: 2px
    transition: 0.5s all
// header
.b-nav
  display: flex
  align-items: center
  justify-content: space-between
.b-header-subtitle
  +Light
  color: $main-color
  margin: 0px
.b-link
  display: flex
  justify-content: space-between
  align-items: center
  text-decoration: none
  &__btn
      padding: 0px 30px 30px 0px
  &__text
    +Light
    color: $main-color
    font-size: 15px
    line-height: 1.33
  &:after
    content: ""
    background: url(../img/ic-next.svg)
    display: block
    color: $light-color
    width: 30px
    height: 30px
// main
.b-title__main
  color: $main-text
// aspects
.b
  &-aspects
    &-list
      padding: 0
      &__item
        display: flex
        align-items: center
      &__box
        width: 50px
        height: 50px
        border: solid 1px $light-color
        border-radius: 50%
        margin-right: 20px
        display: flex
        justify-content: center
        align-items: center
      &__one
        background-color: $rounded-color1
        padding: 11px 11px 9px 11px
      &__two
        background-color: $rounded-color2
        padding: 9px 16px 8px 20px
      &__three
        background-color: $rounded-color3
        padding: 10px 9px 15px 








    

