@media (max-width: 767px)
  .b-container
    padding: 0px 30px
  .b-title
    font-size: 25px
    line-height: 1.2
    letter-spacing: -0.31px
    margin-bottom: 20px
    font-stretch: normal
    font-style: normal
    letter-spacing: -0.31px
    &__header
      margin-bottom: 20px
  .b-subtitle
    font-size: 15px
    letter-spacing: 1.33px
    margin-bottom: 20px
  .b-text
    font-size: 15px
  // Header
  .b-header
    background-color: $main-text
    padding-top: 30px
    &-subtitle
      margin: 0px 0px 100px 0px
      font-size: 15px
      line-height: 1.33
  .b-block
    &-navigation
      padding: 0px 30px
      margin-bottom: 40px
  .b-nav
    padding: 0px 30px
    margin-bottom: 40px
  .b-logo-img__logo
    width: 139px
    height: 30px
  .b-menu,
  .b-lang
    display: none
  .b-link
  // professional
  .b-main
    padding-top: 100px
  .b
    &-services
      list-style-type: none
      margin: 0px
      padding: 0px
      &__item
        font-size: 15px  
        line-height: 1.33
        padding-left: 50px
        &:last-child
          margin: 0
        &:before
          top: 9px
          left: 0px
          width: 30px
    
    
    
  