@media (min-width: 980px) {
  body {
    background-color: #f4f4f7;
  }

  .b-container {
    padding: 0px 40px 0px 100px;
  }

  .b-text {
    font-size: 30px;
  }

  .b-title {
    font-size: 60px;
    line-height: 1.08;
    letter-spacing: -0.75px;
  }

  .b-menu {
    line-height: 2.67;
    min-width: 500px;
  }

  .b-header-wrap {
    max-width: 1140px;
    margin: 0 auto;
  }

  .b-header {
    background-image: url(../img/header/background.jpg);
    background-repeat: no-repeat;
    background-size: 1180px;
    background-position: center;
    position: relative;
    padding-top: 40px;
    z-index: 1;
    width: 100%;
    max-width: 1180px;
  }

  .b-header:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    z-index: -1;
  }

  .b-nav {
    padding: 0px 60px 0px 100px;
    margin-bottom: 92px;
  }

  .b-logo {
    margin-right: 60px;
    font-size: 0px;
  }

  .b-logo-img__logo {
    width: 40px;
    height: 40px;
  }

  .b-menu-wrap {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    align-items: center;
  }

  .b-menu__list {
    display: flex;
    margin: 0;
    padding: 0px;
  }

  .b-menu__link {
    font-family: Roboto-Light;
    font-size: 15px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #f4f4f7;
    text-decoration: none;
    position: relative;
    line-height: 1;
  }

  .b-menu__link::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #63c9e0;
    transition: width 0.3s ease-out;
    transform: scale(0);
    transform-origin: left;
  }

  .b-menu__link:hover:after {
    transform: scale(1);
    transition: .5s;
  }


  .b-menu__link:focus {
    color: #63c9e0;
    transition: .5s;
  }

  .b-menu__list-item {
    display: inline-flex;
    margin-right: 53px;
  }

   .b-menu__list-item:nth-of-type(2) {
     margin-right: 58px;
   }

   .b-menu__list-item:nth-of-type(3) {
     margin-right: 58px;
   }

   .b-menu__list-item:nth-of-type(4) {
     margin-right: 61px;
   }

  .b-menu__list-item:last-child {
    margin-right: 0px;
  }

  .b-menu__list-item:nth-of-type(5) {
    display: none;
  }

  

  .b-lang {
    min-width: 130px;
    padding: 0;
  }

  .b-lang__link {
    font-family: 'Roboto-Light', sans-serif;
    font-weight: 300;
    font-size: 15px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #f4f4f7;
    text-decoration: none;
  }

  .b-lang__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }

  .b-lang__list-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    display: inline-flex;
    margin-right: 10px;
  }

  .b-lang__list-item:last-child {
    margin-right: 0px;
  }

  .b-lang__list-item:nth-child(2) {
    height: 40px;
    width: 40px;
    border: solid 1px #ffffff;
    border-radius: 50%;
  }

  .b-hamburger {
    display: none;
  }

  .b-title__header {
    margin-bottom: 30px;
    max-width: 780px;
  }

  .b-header-subtitle {
    font-family: Roboto-Light;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: #f4f4f7;
    margin: 0px;
    font-size: 20px;
    line-height: 1.5;
    max-width: 680px;
    padding-right: 10px;
    margin: 0px 0px 78px 0px;
  }

  .b-link__btn {
    /* max-width: 480px; */
    border: solid 1px #ffffff;
    padding: 25px 50px 25px 100px;
    border-color: rgba(225, 225, 225, 0.1);
  }

  .b-link__text {
    font-size: 20px;
    line-height: 1.5;
  }
/* b-do */


.b-professional-wrap {
  max-width: 1180px;
  margin: 0 auto;
}
  .b-do {
    padding-bottom: 117px;
  }
  .b-professional {
    padding-top: 90px;
  }

  .b-title__main{
    max-width: 780px;
    margin-bottom: 30px;
  }

  .b-subtitle-main {
    margin-bottom: 85px;
    font-size: 30px;
  }

  .b-aspects-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -80px;
    margin-bottom: 70px;
  }

  .b-aspects-list__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 240px;
    margin: 0px 60px 0px 0px;
  }

  .b-aspects-list__item::before {
    display: none;
  }

  .b-aspects-list__item:last-child::after {
    display: none;
  }

  .b-aspects-list__box {
    width: 90px;
    height: 90px;
    margin-bottom: 30px;
    margin-right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .b-aspects-list__one {
    width: 90px;
    height: 90px;
    margin-bottom: 30px;
    margin-right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 9px 16px 8px 20px;
  }

  .b-aspects-list__two {
    width: 90px;
    height: 90px;
    margin-bottom: 30px;
    margin-right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 9px 15px;
  }

  .b-aspects-list__three {
    width: 90px;
    height: 90px;
    margin-bottom: 30px;
    margin-right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .b-aspects-list__ic {
    width: 50px;
    height: 52px;
  }

  .b-aspects__text {
    font-family: 'Roboto-Bold', sans-serif;
    font-size: 20px;
    line-height: 1.5;
  }
  /* What we do */
  .b-do__title {
    margin-bottom: 75px;
  }

  .b-services {
    columns: 2;
    padding: 0px;
    column-gap: 50px;
    max-width: 750px;
  }

  .b-services__item {
    font-size: 20px;
    line-height: 1.5;
    width: 320px;
    padding-left: 50px;
    display: block;
  }

  .b-services__item:nth-of-type(1) {
    width: 370px;
  }
  .b-services__item:nth-of-type(2) {
    width: 343px;
    margin-bottom: 32px;
  }
  .b-services__item:nth-of-type(3) {
    margin-bottom: 30px;
  }
  .b-services__item:nth-of-type(4) {
    margin-bottom: 0px;
  }
  .b-services__item:nth-of-type(5) {
    margin-bottom: 24px;
  }
  .b-services__item:nth-of-type(6) {
    margin-bottom: 20px;
  }
  .b-services__item:nth-of-type(7) {
    margin-bottom: 30px;
  }
  .b-services__item:nth-of-type(8) {
    margin-bottom: 0px;
  }

  /* .b-services__item:last-child {
    margin: 0px;
  } */

  .b-services__item::before {
    width: 30px;
    top: 14px;
    left: 0px;
  }

  .b-link__services {
    display: none;
  }
/* Work */
  .b-work {
    padding-top: 100px;
  }

  .b-work__container {
    padding-bottom: 90px;
  }
  .b-work__title {
    color: #2d2d42;
    margin-bottom: 25px;
  }

  .b-work__subtitle {
    font-family: 'Roboto-Light', sans-serif;
    font-size: 30px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
  }

  .b-work__item {
    background-color: none;
    position: relative;
  }

  .b-work-img__pic {
    max-height: 320px;
  }

  .b-work-img__picture {
    max-height: 600px;
  }

  .b-work__info {
    padding: 40px;
    box-sizing: border-box;
    position: relative;
  }

  .b-info {
    padding: 40px 50px 40px 40px;
  }

  .b-work__info:nth-of-type(4) {
    margin-bottom: 7px;
  }

  .b-work__list>.b-work__item:nth-child(odd)>.b-work__info::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: black;
    left: 100%;
    bottom: 0px;
    background-color: #c0c6c8;
  }

  .b-work__info-lowdown {
    width: 380px;
    /* height: 380px; */
    position: absolute;
    right: 50%;
    bottom: 20px;
    background-color: #64cae1;
    box-sizing: border-box;
    padding: 40px 40px 41px 42px;
  }
  .b-work__info-lowdown-two {
    width: 380px;
    /* height: 380px; */
    position: absolute;
    left: 50%;
    bottom: 18px;
    background-color: #fff;
    box-sizing: border-box;
    padding-bottom: 110px;
  }


  .b-work__info-title {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.54;
    letter-spacing: 1.73px;
    text-transform: uppercase;
    margin: 0px 0px 30px 0px;
  }
/* !! */
  /* .b-work__info-title-retrofit {
    margin-bottom: 33px;
  } */
  .b-work__info-lowdown-two>.b-work__info-title {
    margin-bottom: 50px;
  }

  .info-title-two {
    margin: 0px 0px 40px 0px;
  }
/* !! */
  .b-work-stick {
    color: #f4f4f7;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.54;
    letter-spacing: 1.73px;
    text-transform: uppercase;
    margin: 0px 0px 40px 0px;
  }

  .b-lowdown-sticker {
    margin-bottom: 40px;
    color:#f4f4f7;
  }

  .b-work__text-lowdown {
    color:#f4f4f7;
  }

  .b-work__list {
    display: flex;
    flex-wrap: wrap;
  }

  .b-work__list>.b-work__item {
    width: 50%;
  }

  .b-link__work {
    display: none;
  }

  /* kontact */
  .b-contacts {
    position: relative;
    padding: 100px 0 40px 0;
  }

  .b-map-wrap {
    overflow: hidden;
    top: 180px;
    padding-left: 200px;
    max-width: 1180px;
    left: 0px;
    z-index: 0;
  }

  .b-map {
    width: 900px;
    height: 440px;
  }

  .b-contacts-info {
    margin-bottom: 90px;
  }

  .b-contacts-info__title {
    margin-bottom: 75px;
  }

  .b-contacts-info__text {
     max-width: 380px;
     z-index: 1;
     position: relative;
     font-size: 20px;
     line-height: 1.5;
  }

  .b-social {
    position: absolute;
    left: 50%;
    margin-left: 107px;
    top: 119px;
  }

  .b-address-wrap {
    display: flex;
    margin-bottom: 0;
  }

  .b-adress__text {
    font-size: 15px;
  }

  .b-adress {
    flex-basis: 50%;
  }

  .b-adress:nth-child(1) {
    margin-right: 155px;
    box-sizing: border-box;
  }

  .b-adress__title {
    font-size: 20px;
    line-height: 1.54;
    letter-spacing: normal;
    margin: 0px 0px 22px 0px;
  }

  .b-adress__mail {
    font-size: 15px;
  }
  .b-adress__phone {
    font-size: 15px;
  }

  .b-modification-small {
    display: none;
  }

  .b-modification-big {
    display: inline;
  }

  /* Footer */
  .b-footer {
    display: flex;
    align-items: center;
    background-color: #000000;
    padding: 0px;
    width: 100%;
  }
  .b-footer__menu {
    display: none;
  }

  .b-link__footer {
    background-color: #64cae1;
    min-width: 480px;
    width: calc((100%/2) - 10px);
  }

  .b-footer__container {
    display: block;
    padding: 0px;
  }

  .b-copyright {
    font-size: 20px;
    line-height: 1.5;
    padding: 0px;
    margin-left: 110px;
  }
}